[submodule "app/src/main/proto"]
	path = app/src/main/proto
	url = https://github.com/IhorNehrutsa/protobufs.git
    branch = ptd
[submodule "design"]
	path = design
	url = https://github.com/meshtastic/design.git
